<mat-card>
  <mat-card-header>
    <mat-card-title>{{ goal.title }}</mat-card-title>
    <mat-card-subtitle>{{ goal.dueDate | date }}</mat-card-subtitle>
  </mat-card-header>
  <!--<img mat-card-image src="image">-->
  <mat-card-content>
    <div>{{ goal.description }}</div>
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-button
      *ngIf="showOpenButton"
      (click)="open()"
    >
      OPEN
    </button>

    <button
      mat-button
      *ngIf="!goal.shared && showShareButton"
      (click)="share()"
    >
      SHARE
    </button>

    <button
      mat-button
      *ngIf="goal.shared && showShareButton"
      (click)="unshare()"
    >
      UNSHARE
    </button>

    <button
      mat-button
      *ngIf="showDeleteButton"
      (click)="remove()"
    >
      DELETE
    </button>
  </mat-card-actions>
</mat-card>
