<md-card>
  <md-card-header>
    <md-card-title>{{ goal.title }}</md-card-title>
    <md-card-subtitle>{{ goal.dueDate | date }}</md-card-subtitle>
  </md-card-header>
  <img md-card-image src="image">
  <md-card-content>
    <div>{{ goal.description }}</div>
  </md-card-content>
  <md-card-actions>
    <button md-button>SHARE</button>
  </md-card-actions>
</md-card>

<md-card class="result-creation">
  <md-card-header></md-card-header>
  <md-card-content>
    <app-goal-result-creation></app-goal-result-creation>
  </md-card-content>
</md-card>
