<button type="button" mat-fab *ngIf="!formVisible">
  <mat-icon (click)="showForm()">add</mat-icon>
</button>

<mat-card *ngIf="formVisible">
  <form (submit)="onSubmit()">
    <mat-input-container>
      <input
        name="title"
        matInput
        placeholder="Title"
        [(ngModel)]="title"
      >
    </mat-input-container>

    <mat-input-container>
      <input
        name="description"
        matInput
        placeholder="Description"
        [(ngModel)]="description"
      >
    </mat-input-container>

    <mat-input-container>
      <input
        name="dueDate"
        matInput
        placeholder="Choose a date"
        [matDatepicker]="picker"
        [(ngModel)]="dueDate"
      >

      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-input-container>
    <mat-datepicker #picker></mat-datepicker>

    <button mat-button>Create</button>
  </form>
</mat-card>
