<form>
  <mat-input-container>
    <input matInput placeholder="Name">
  </mat-input-container>

  <mat-input-container>
    <input matInput placeholder="Description">
  </mat-input-container>

  <mat-input-container>
    <input matInput [matDatepicker]="picker" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-input-container>
  <mat-datepicker #picker></mat-datepicker>

  <button mat-button>Create</button>
</form>
