<ng-container *ngIf="data | async as data">
  <div class="list-item">
    <app-goal
      [goal]="data.goal"
      [showShareButton]="data.goal.ownedBy(userId)"
      [showDeleteButton]="data.goal.ownedBy(userId)"
    ></app-goal>
  </div>

  <div class="list-item">
    <app-goal-progress [goalResults]="data.goalResults"></app-goal-progress>
  </div>

  <div class="list-item">
    <app-goal-result-list [goalResults]="data.goalResults"></app-goal-result-list>
  </div>

  <div class="list-item">
    <app-goal-result-creation
      *ngIf="data.goal.ownedBy(userId)"
      [goal]="data.goal"
    ></app-goal-result-creation>
  </div>
</ng-container>
