<ng-container *ngIf="data | async as data">
  <app-goal
    [goal]="data.goal"
    [showShareButton]="data.goal.ownedBy(userId)"
    [showDeleteButton]="data.goal.ownedBy(userId)"
  ></app-goal>

  <app-goal-progress [goalResults]="data.goalResults"></app-goal-progress>

  <app-goal-result-list [goalResults]="data.goalResults"></app-goal-result-list>

  <button
    *ngIf="data.goal.ownedBy(userId)"
    class="fixed-fab"
    type="button"
    mat-fab
  >
    <mat-icon (click)="showForm(data.goal)">add</mat-icon>
  </button>
</ng-container>
