<ng-container *ngIf="goals | async as goals">
  <mat-tab-group [(selectedIndex)]="selectedIndex">
    <mat-tab label="User"></mat-tab>
    <mat-tab label="Shared"></mat-tab>
  </mat-tab-group>

  <ng-container *ngIf="selectedIndex === 0">
    <app-goal-list [goals]="goals.user"></app-goal-list>

    <button
      class="fixed-fab"
      type="button"
      mat-fab
    >
      <mat-icon (click)="showForm()">add</mat-icon>
    </button>
  </ng-container>

  <ng-container *ngIf="selectedIndex === 1">
    <app-goal-list [goals]="goals.shared"></app-goal-list>
  </ng-container>
</ng-container>

